[submodule "vim/pack/start/vim-markdown-folding"]
	path = vim/pack/start/vim-markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding.git
[submodule "vim/pack/plugins/start/goyo"]
	path = vim/pack/plugins/start/goyo
	url = https://github.com/junegunn/goyo.vim
